/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-10-2016, 02:02:50
    Author     : Yunas
*/
div {
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, .3);
}

